---
title: Home
---

#main
  .header.home-hero
    %section
      %h1#hero.text-centered 
        Vi er Iterate

  .white
    %section.text-centered
      %h2.is-hidden Hjemmeside
      %h3.text-centered.has-large-padding-bottom Nyskaper du?
      
      // %p.ingress Er du en skaper?

      .eight-columns-centered
        // %p 
        //   Vi er mangfoldige kløppere på koding, innovasjon og design.
        %p
          Lenge fra nå, ser ditt fremtidige jeg tilbake på deg idag: Hva gleder hun eller han seg over?
        %p 
          Vi tror ditt fremtidige jeg gleder seg over skaperevnen din.
        %p
          Derfor skal vi imponere fletta av ditt fremtidige jeg. 

  %section
    .row
      %h2.text-centered.has-large-padding-bottom Dette sier kundene våre
    .row
      = partial 'partials/customer-quote-double', :locals => { :customer => ['jenssen', 'hovden']}

  .white
    %section
      %h2.text-centered Koding, rådgivning og design for
      .row
        %p.eight-columns-centered.text-centered
      = partial 'partials/customer-logos'

  .freddy.has-background-image
    %a{:name => 'freddy', :id => 'freddy'}
    %section#freddy
      .two-thirds-layout-offset
        %h2 Konsulenttjenester
        %p
          Fredrik kobler kloke hoder: Bedrifter og organisasjoner med store vyer, fagfolk i Iterate med energi og evner for oppgaven.
        %br
          +47 408 409 67 / 
          = link_to 'fredrik@iterate.no', 'mailto:fredrik@iterate.no'
  %section
    %h3 Målet
    %p
      I Iterate skal vi bygge ferdigheter, skape verdi og ha det gøy. Vi tar også konsulentoppdrag som gir viktig trening og læring.
    %p
      Vi utvikler våre egne ideer til produkter, ved å lære raskest mulig hva som fungerer, hva verden vil ha, og hva vi selv ønsker å lage.
    %p
      Hva er din siste idé?
